@model UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="card-header bg-white">
    <h3 class="mb-0 fw-bold text-primary">
        Profilim
    </h3>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Profil Resmi</label><br />
        <img src="~/userImages/@Model.imageUrl" width="150" class="img-thumbnail" />
    </div>
    <div class="form-group">
        <label>Profil Resmi Güncelle</label>
        <input type="file" asp-for="Image" class="form-control" />
    </div>
    @Html.Label("Adınız")
    <input type="text" asp-for="name" class="form-control" />
    <br />
    @Html.Label("Soyadınız")
    <input type="text" asp-for="surname" class="form-control" />
    <br />
    @Html.Label("Telefon Numaranız")
    <input type="text" asp-for="phoneNumber" class="form-control" />
    <br />
    @Html.Label("Mail Adresiniz")
    <input type="text" asp-for="mail" class="form-control" />
    <br />
    @Html.Label("Şifreniz")
    <input type="text" asp-for="password" class="form-control" />
    <br />
    @Html.Label("Şifre Tekrar")
    <input type="text" asp-for="confirmPassword" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Bilgileri Güncelle</button>
</form>

