@model ReservationDto
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="card shadow-sm border-0 rounded-3">
    <div class="card-header bg-gradient-primary text-white">
        <h4 class="mb-0">Rezervasyon Oluşturma Sayfası</h4>
    </div>

    <div class="card-body p-4">
        <form method="post">
            <div class="mb-3">
                @Html.Label("Lokasyon")
                @Html.DropDownListFor(x => x.DestinationId, (List<SelectListItem>)ViewBag.List, new { @class = "form-control" })
            </div>

            <div class="mb-3">
                @Html.Label("Kişi Sayısı")
                <input type="number" asp-for="NumberOfPeople" class="form-control" />
            </div>

            <div class="mb-3">
                @Html.Label("Tarih")
                <input type="date" asp-for="ReservationDate" class="form-control" />
            </div>

            <div class="mb-4">
                @Html.Label("Notlar")
                <textarea asp-for="Notes" class="form-control" rows="5"></textarea>
            </div>

            <button type="submit" class="btn btn-outline-primary w-100">Rezervasyon Yap</button>
        </form>
    </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function () {
        Swal.fire({
            title: "Bilgilendirme",
            text: "Rezervasyonunuz başlangıçta 'onay bekliyor' durumunda alınacaktır. Onay sürecini takip etmek için 'Onay Bekleyenler' menüsünü kontrol etmeyi unutmayın..!",
            icon: "info",
            confirmButtonText: "Tamam",
            confirmButtonColor: "#0d6efd"
        });
    });
</script>