@model Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="card-header bg-white">
    <h3 class="mb-0 fw-bold text-primary">
        Rezervasyon Oluşturma Sayfası
    </h3>
</div>
<form method="post">
    <div class="form-group">
        @Html.Label("Lokasyon")
        @Html.DropDownListFor(x => x.Destination, (List<SelectListItem>)ViewBag.List, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Kişi Sayısı")
        <input type="number" asp-for="NumberOfPeople" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Tarih")
        <input type="date" asp-for="ReservationDate" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Notlar")
        <textarea asp-for="Notes" class="form-control" rows="8"></textarea>
    </div>
    <button class="btn btn-outline-primary">Rezervasyon Yap</button>
</form>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        Swal.fire({
            title: "Bilgilendirme",
            text: "Rezervasyonunuz başlangıçta 'onay bekliyor' durumunda alınacaktır. Onay sürecini takip etmek için 'Güncel Rezervasyonlarım' menüsünü kontrol etmeyi unutmayın..!",
            icon: "info",
            confirmButtonText: "Tamam",
            confirmButtonColor: "#0d6efd"
        });
    });
</script>

