@model List<DestinationDto>
@*
    Admin Layout Dashboard Destination Statistic
*@

<div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
    <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between pb-0">
            <div class="card-title mb-0">
                <h5 class="m-0 me-2">Lokasyonlar</h5>
            </div>
            <div class="dropdown">
                <button class="btn p-0"
                        type="button"
                        id="orederStatistics"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex flex-column align-items-center gap-1">
                    <span>Son Eklenenler</span>
                </div>
                <div id="orderStatisticsChart"></div>
            </div>
            @foreach (var item in Model)
            {
                <ul class="p-0 m-0">
                    <li class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                            <img src="@item.Image" alt="@item.City" class="rounded"  style="width:45px; height:45px; object-fit:cover;">
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <h6 class="mb-0">@item.City</h6>
                                <small class="text-muted">@item.DayNight</small>
                            </div>
                            <div class="user-progress">
                                <small class="fw-semibold">@item.Price$</small>
                            </div>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>