@model VisitorViewModel
@{
    ViewData["Title"] = "UpdateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header bg-white">
    <h3 class="mb-0 fw-bold text-primary">
        Api ile Zirayetçi Güncelleme Sayfası
    </h3>
</div>
<form method="post">
    <input type="hidden" asp-for="VisitorId" />
    <div class="form-group">
        @Html.Label("Ad")
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Soyad")
        <input type="text" asp-for="Surname" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Şehir")
        <input type="text" asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Ülke")
        <input type="text" asp-for="Country" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Mail")
        <input type="text" asp-for="Mail" class="form-control" />
    </div>
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>


