@model List<Reservation>
@{
    ViewData["Title"] = "ReservationUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="card-header bg-white">
    <h3 class="mb-0 fw-bold text-primary">
        Kullanıcının Geçmiş Rezervasyonları
    </h3>
</div>
<div class="card shadow-sm border-0 rounded-3">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-hover table-striped align-middle mb-0">
                <thead class="table-light">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-start">Ad Soyad</th>
                        <th class="text-center">Lokasyon</th>
                        <th class="text-center">Kişi Sayısı</th>
                        <th class="text-center">Tarih</th>
                        <th class="text-center">Detaylar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td class="text-center">
                                <i class="bi bi-hash text-secondary me-1"></i>
                                @count
                            </td>
                            <td class="text-start">
                                <i class="bi bi-people text-primary me-1"></i>
                                @item.AppUser.Name @item.AppUser.SurName
                            </td>
                            <td class="text-center">
                                <i class="bi bi-geo-alt text-danger me-1"></i>
                                @item.Destination.City
                            </td>
                            <td class="text-center">
                                <i class="bi bi-people text-primary me-1"></i>
                                @item.NumberOfPeople
                            </td>
                            <td class="text-center">
                                <i class="bi bi-calendar-date text-success me-1"></i>
                                @item.ReservationDate.ToString("dd-MM-yy")
                            </td>
                            <td class="text-center">
                                <a href="/Destination/DestinationDetails/@item.DestinationId" class="btn btn-sm btn-outline-info">
                                    <i class="bi bi-eye"></i> Görüntüle
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<a href="/Admin/Destination/AddDestination" class="btn btn-outline-primary">Yeni Rota Ekle</a>

